.education{
    padding: 1rem;
    position: relative;
}

.education p {
    font-size: 14px;
}

.edu-logo{
    position: absolute;
    top: 1rem;
    left: -23px;
    font-size: 1.7rem;
    color: black;
}

.divider-edu{
    border-left: 1px solid black;
    position: absolute;
    left: -10px;
    height: 90%;
    transform: translateY(2rem)
}